<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' href='/resource/css/fullcalendar.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='/resource/css/hash_tag/bootstrap-tokenfield.css'/>
  <link rel='stylesheet' href='/resource/css/landing-page.css'
</head>
<body>

<%= render 'shared/nav' %>
<div class="container">
<div class="row mt-3">
  <div class="col-2" >
    <div class="" ><%= render 'shared/user_profile' %></div>
    <div class="h-75"><%= render 'shared/calendar_list' %></div>
  </div>
  <div class="col-7 h-100">
    <%= yield %>
  </div>
  <div class="col-3 p-0" >
    <div class="h-25"><%= render 'shared/search' %></div>
    <div class="h-75"><%= render 'shared/question' %></div>
  </div>
</div>
</div>
<%= render '/shared/js' %>

</body>
</html>
