<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' href='/resource/css/fullcalendar.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>
    
<div class="row">
  <div class="col-2" style="background:#000000">s</div>
  <div class="col-8">
    <%= yield %>
  </div>
  <div class="col-2" style="background:#a60cdc">s</div>
</div>

<%= render 'shared/js' %>
</body>
</html>
